@page "/songdetails/{Id:string}"

@using music_manager_starter.Shared

@inject HttpClient Http

@inject NavigationManager Navigation

<h1>@song?.Title</h1>
<p>@song?.Artist</p>

<button @onclick="GoBack">Back to Homepage</button>

@code {
    [Parameter]
    public string Id { get; set; }

    private Song song;


    protected override async void OnParametersSet()
    {
        var songs = await Http.GetFromJsonAsync<List<Song>>("api/songs");
        song = songs.FirstOrDefault(s => s.Id == new Guid(Id));
    }

    private void GoBack()
    {
        Navigation.NavigateTo("/");
    }
}